# KAGGLE_USERNAME=your_username
# KAGGLE_KEY=your_api_key

# GCP Configuration
# GOOGLE_APPLICATION_CREDENTIALS=./credentials/service-account.json
# GCP_PROJECT_ID=your-project-id
# GCP_REGION=us-central1
# GCS_BUCKET_NAME=de-project-data-lake

# BigQuery
# BQ_DATASET=football_analytics

# Dataproc
# DATAPROC_CLUSTER_NAME=de-project-cluster
